.background
    background-color: #e1e1e1
    width: 100%
    min-height: calc(100vh - 115px)
    height: calc(100% - 115px)
    font-family: Sans-serif
    font-size: 12px
.card
    background-color: white
    min-width: calc( 50% - 28px )
    padding: 8px
.card-top
    margin-bottom: 4px
    margin-top: 8px
    min-height: 30vh
.card-bottom
    margin-bottom: 8px
    margin-top: 4px
    min-height: 55vh 
.card-left
    margin-left: 8px
    margin-right: 4px
.card-right
    margin-left: 4px
    margin-right: 8px
.button-general
    border-radius: 15px
    font-size: 11px
    border: 0px solid
    height: 25px
    color: white
    padding-left: 10px
    padding-right: 10px
.button-shadow 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
    background-image: linear-gradient(to right, #259691 , #2dafa8)
.button-plain
    color: black
    background: #e7ecec
.button-raised
    color: #fff !important
    text-decoration: none
    background: #f95654
    border-radius: 5px
    display: inline-block
    border: none
.temp-container
    min-width: 33%
    display: flex 
    flex-direction: column
    justify-content: center
    align-items: center
.temp-heading
    display: flex
    justify-content: center
    font-weight: bold