<div style="min-height: 100px; display: flex;">
  <div style="min-height: 100px; text-align: end;">
    <div class="level-container">High</div>
    <div class="level-container">Normal</div>
    <div class="level-container">Low</div>
    <div style="min-height: 10px;">Critically low</div>
  </div>
  <div style="min-height: 100px; margin-left: 10px;">
    <div class="level-container-end-graph level-container-border-top"></div>
    <div class="level-container level-container-border"></div>
    <div class="level-container level-container-border"></div>
    <div class="level-container level-container-border"></div>
    <div class="level-container-end-graph">
      <div
        style="min-height: 5px;"
        class="level-container-border level-container-end--color"
      ></div>
      <div style="min-height: 5px; color:#f93d4f; text-align: center;">^</div>
    </div>
  </div>
</div>
